# tofu/proxmox.auto.tfvars
proxmox = {
  name         = "pve-01"
  cluster_name = "homelab"
  endpoint     = "https://10.0.0.1:8006"
  cluster_ip   = "10.0.10.1"
  insecure     = true
  username     = "root@pam"
  password     = "secretpassword"
  api_token    = "root@pam!tofu=dfadf-dfa-ddsf3-bc32-fada41"
}
